*{
   margin : 0;
   padding : 0;
}

body{

	background-color:#808000;
	color:#FFFFFF;
	font-family: メイリオ;
}

#header{
	background-color:#556b2f;
	color:#FFFFFF;
	font-size:12px;
	font-style: oblique;
	padding:10px;
	margin-bottom:10px;
	border-color:#669;
}

fieldset{ 
	border: none; 
}